* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: rgb(19, 20, 24);
    --text-color: rgb(234, 234, 234);
    --bio-text-color: rgb(255, 89, 125);
}

body {
    font-family: "Fira Code", monospace;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

#site-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 705px;
    margin: auto;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro h1 {
    font-size: 15px;
    line-height: 26.25px;
    margin-top: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#theme-toggle-btn {
    /* Remove default button styling */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    outline: none;
}

#theme-toggle-btn:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

/* Style for the icons */
#theme-toggle-btn i {
    font-size: 19.2px;
    color: var(--text-color);
}

#bio {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
#bio div {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 20px;
}
#bio p {
    padding: 5px;
    color: var(--text-color);
}

#bio a {
    color: var(--bio-text-color);
    text-decoration: none;
}
#bio i {
    color: var(--bio-text-color);
}

#apps {
    display: flex;
    flex-direction: column;
}
#apps h2 {
    line-height: 26.25px;
    font-size: 15px;
    margin-block-end: 15px;
    margin-block-start: 30px;
    margin-top: 30px;
    text-rendering: optimizeLegibility;
}

#app-list {
    display: grid;
    padding: 4px;
    gap: 16px;
    grid-template-columns: auto auto auto auto;
}

#app-item {
    box-shadow: 0 1px 4px #888;
    padding: 16px;
    line-height: 1.1;
    border-radius: 2px;
}

#app-icon {
    max-width: 92px;
    margin: 0 auto 16px auto;
    display: block;
}
/* Style on small devices */
@media screen and (max-width: 480px) {
    #intro {
        justify-content: center;
        text-align: center;
    }

    #theme-toggle-btn {
        display: none;
    }

    #intro h1 {
        max-width: 100%;
    }
}

/* Dark Mode */
body.dark-mode #theme-icon-sun {
    display: none; /* Hide the sun icon in dark mode */
}

body.dark-mode #theme-icon-moon {
    display: block; /* Show the moon icon in dark mode */
}

body.dark-mode {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(51, 51, 51);
    --bio-text-color: rgb(50, 87, 209);
}
